<!DOCTYPE html>
<html>
  <head>
    <title>Bba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'style.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-server-k4plJ-jwu2s_m3W0i5WA7fSo"></script>

  </head>

  <body style="padding-top: 56px;">
    <div>
      <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <b><%= link_to "BBA", root_path, class: "navbar-brand text-primary" %></b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to "Beranda", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <% if current_user && current_user.admin == true %>
                  <%= link_to "Admin Dashboard", rails_admin_path, class: "nav-link" %>
                <% end %>
                <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
                <%= link_to "Product", products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Supplier", suppliers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Campaign", campaigns_path, class: "nav-link" %>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <% if current_user %>
                <%= link_to "Hi, #{current_user.name}", "#", { :class => "nav-link dropdown-toggle", :id => "navbarDropdown", :role => "button", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false" } %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Profil", users_index_path(current_user.id), class: "dropdown-item" %>
                  <%= link_to "Wishlist Doa", doas_path, class: "dropdown-item" %>
                  <%= link_to "Cek Resi", cek_resi_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
                </div>
              <% end %>
            </li>
            <li class="nav-item">
                <% if !current_user %>
                  <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success" %>
                <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    </div>

    <div class="mt-8 h-100">
      <%= yield %>
    </div>
   
    
  </body>
</html>
